<header>

    <nav class="grid-middle_spaceBetween">
      <div class="col-8">
      
      <a href="/index"> Home </a>
      <a href="/about"> Welcome </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Contact </a>
      </div>


      <div class="col-4 right">
      <a target="blank" href="#"><i class="fa fa-facebook"></i></a>
      <a target="blank" href="#"><i class="fa fa-instagram"></i></a>
      <a target="blank" href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </nav>


</header>
